* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
}

body {
  /*width: 1300px;*/
  width: 80vw;
  min-width: 1000px;
  margin: 48px auto;
}

}

p{
  line-height: 36px;
  padding-bottom: 12px;
}

h1{
    font-family: palatino, serif;
    font-weight: 700;
    margin-bottom: 6px;
}

h2 {
  font-style: italic;
  font-size: 19px;
  margin-bottom: 48px;
  font-weight: 400;
}



@media only screen and (max-width: 480px) {
  html{
    font-size: 16px;
    color: #F2F2F2;
    background-color: #262626;
    text-align: center;
  }

  body{ 
    width: 75vw;
    min-width: 200px;
  }
}



