.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.zen-dots-regular {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
  font-family: Verdana, sans-serif;
}

body {
  background-color: #0f0e17;
}

.ArticleNav {
  font-family: "Inter", sans-serif;
  border-radius: 15px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  flex-wrap: wrap;  
  margin-bottom: 20px;
  width: 30vw;
}

.BGImage {
  background-image: url("https://cdn.sanity.io/images/7p2whiua/production/e4365302f0178e715319d3c5b2e566b387e3ff4e-2048x1536.jpg");
  max-width: 100%;
  height: 60vw;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
}

.MainTitle {
  margin: 60px;
  width: 40vw;
}

.Subtitle {
  width: 30vw;
  background-color: #0066b3;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  margin: 20px;
}

h1{
    font-family: "Zen Dots", sans-serif;
    font-weight: bolder;
    font-size: 5rem;
    margin-bottom: 6px;
    color: #fffffe;
    
}

h2 {
  font-family: "Inter", sans-serif;
  font-style: italic;
  color: #fffffe;
  font-size: 1.5rem;
  margin-bottom: 48px;
  font-weight: 400;
}

h4 {
  font-family: "Inter", sans-serif;
  color: #fffffe;
  Font-size: 50px;
  margin: 10px 5px;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 1.5rem;
  color: #fffffe
}

.aquanaut2 {
  width: 50vw;
  float: left;
  margin: 10px 25px 1px 5px;
  box-sizing: border-box;
}

.Section3 {
  margin: 2vw;
}

.aquanaut3 {
  width: 50vw;
  float: right;
  margin: 10px;
  box-sizing: border-box;
}

.Section4 {
  margin: 2vw;
}

.aquanaut4 {
  width: 50vw;
  float: right;
  margin: 10px;
  box-sizing: border-box;
}
