* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
  font-family: Verdana, sans-serif;
}

body {
  /*width: 1300px;*/
  width: 80vw;
  min-width: 1000px;
  margin: 48px auto;
}

}

.Text{
  line-height: 36px;
  padding-bottom: 12px;
  flex-direction: column;
  column-count: 2;
}

h1{
    font-family: Verdana, sans-serif;
    font-weight: 700;
    margin-bottom: 6px;
}

h2 {
  font-style: italic;
  font-size: 19px;
  margin-bottom: 48px;
  font-weight: 400;
}

h4 {
  Font-size: 30px;
  margin: 10px 5px;
}



