* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
  font-family: Verdana, sans-serif;
}

body {
  /*width: 1300px;*/
  width: 80vw;
  min-width: 1000px;
  margin: 48px auto;
}

.ArticleNav {
  border-radius: 15px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  flex-wrap: wrap;  
  margin-bottom: 20px;
  width: 30vw;
}


h1{
    font-family: Verdana, sans-serif;
    font-weight: 700;
  font-size: 3.5rem;
    margin-bottom: 6px;
}

h2 {
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 48px;
  font-weight: 400;
}

h4 {
  Font-size: 50px;
  margin: 10px 5px;
}


.aquanaut2 {
  width: 0vw;
  float: left;
  margin: 25px;
  box-sizing: border-box;
}

.Section3 {
  margin: 2vw;
}

.aquanaut3 {
  width: 50vw;
  float: right;
  margin: 10px;
  box-sizing: border-box;
}

.Section4 {
  margin: 2vw;
}

.aquanaut4 {
  width: 50vw;
  float: right;
  margin: 10px;
  box-sizing: border-box;
}
